/**
 * Undo the global css settings from BookReader.css.
 */

div#book-viewer {
  /* helps making navbar hiding smoother */
  overflow: hidden;	
}

div#BookReader {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  height: 600px;
  
}
#BookReader h3 {
  font-size: 20px;
  font-family:  "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;
  font-weight: 700;
  color: #dedede;
}
/**
* All text elements must have sufficient contrast between text in the
* foreground and background colors behind it in accordance with WCAG 2 AA
* contrast ratio thresholds.
**/
#BRreturn a {
  color: black;
}
#BookReader a {
  outline: none;
}
div#BRnav {
  position: absolute;
}
div#BRcontainer {
  position: absolute;
  background-color: #ccc;
}
div#BRpageview {
  background-color: #ccc;
}

div#BRfulltext.BRfloat {
    height:550px;
}

@media (min-width: 801px) {
    .BRfloat { max-width: initial; width:inherit; }
    .BRfloat.wide { max-width: initial; width:inherit; }
}
@media (max-width: 800px) and (min-width: 341px) {
    .BRfloat { max-width: initial; width:inherit; }
}
@media (max-width: 340px) {
    .BRfloat { max-width: 95%; width:95%; }
}

div#BRfulltext .BRfloatMeta {
  overflow: auto;
  height: auto !important;
  /* Prevents hiding text. */
  max-height: 600px;
}
div.BRfloatHead {
  background-color: #ccc !important;
  padding: 10px 10px 15px;
}


.BRicon.full_text {
    background-image: url(../images/BRicons.png);
    opacity:.5;
    background-position:-1240px 0;
}
#BRtoolbarbuttons .BRtoolbarSectionLogo.tc > a {
    margin-right:0;
    margin-left:0;
}

#BRtoolbarbuttons .BRtoolbarRight  button.BRicon.full {
    margin-top:5px;
    margin-right:5px;
}

a.floatShut {
  margin: 12px 10px;
}
div.BRpagediv1up {
 overflow: visible;
}

button#btnSrch {
  background-image: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
button#btnSrch:hover {
  background-image: none;
}
div.BRprogresspopup {
  position: relative;
  margin:auto;
  max-width: 300px;
}
.textTop {
  font-size: 10px;
}
.textRight {
  float: right;
  width: 50%;
}
.textLeft {
  float: left;
  width: 50%;
}

#BRtoolbarbuttons form.booksearch input[type=search] {
  width:auto;
}

#cboxLoadedContent {
  overflow-y: auto!important; /* to make fulltext scrollable */
  margin: 5px;
}